In [1]:
import pandas as pd

In [23]:
df = pd.read_csv(r"C:\Users\Jun Rong\Documents\GitHub\IMDA-Domain-IP-Enrichment\Flask_App\testing3.csv")

In [24]:
df.head()
df.columns

Index(['Unnamed: 0', '_id', 'domain', 'x_days_ago', 'to_skip',
       'last_analysis_date', 'reputation', 'added_timestamp',
       'processed_timestamp', 'failure_count', 'is_priority', 'source',
       'has_screenshot', 'has_html', 'has_javascript', 'files_log',
       'archived_page_info', 'log_file', 'last_analysis_stats.harmless',
       'last_analysis_stats.malicious', 'last_analysis_stats.suspicious',
       'last_analysis_stats.undetected', 'last_analysis_stats.timeout',
       'total_votes.harmless', 'total_votes.malicious',
       'duration_log.screenshot', 'duration_log.grab_html_js',
       'duration_log.get_whois_info', 'duration_log.get_dns_info',
       'duration_log.get_cert_info', 'duration_log.get_archived_page_info',
       'whois_info.registrar', 'whois_info.name', 'whois_info.org',
       'whois_info.creation_date', 'whois_info.updated_date',
       'whois_info.whois_file_location', 'dns_info.gethostbyname_ex.alias',
       'dns_info.gethostbyname_ex.other_ip_address',
       'dns_info.gethostbyname_ex.gethostbyname_ex_filepath',
       'dns_info.dns_resolver_query.nameserver_list',
       'dns_info.dns_resolver_query.nameservers_filepath',
       'cert_info.common_name', 'cert_info.name_value',
       'cert_info.issuer_name', 'cert_info.not_before',
       'cert_info.latest_cert', 'cert_info.length_cert_json',
       'cert_info.cert_file_location', 'cert_info.len(SubjectCN_set)',
       'cert_info.SubjectCN_set', 'cert_info.len(Issuer_set)',
       'cert_info.Issuer_set', 'cert_info.len(AltName_set)',
       'cert_info.AltName_count_min', 'cert_info.AltName_count_max',
       'dns_info.gethostbyname_ex', 'dns_info.dns_resolver_query', 'cert_info',
       'archived_page_info.newest.archive_url',
       'archived_page_info.newest.timestamp',
       'archived_page_info.archived_paged_file_location', 'whois_info'],
      dtype='object')

In [19]:
df[['whois_info.updated_date']]

                               whois_info.updated_date
0    [datetime.datetime(2023, 5, 1, 23, 38, 51), da...
1    [datetime.datetime(2023, 5, 1, 23, 38, 51), da...
2    [datetime.datetime(2023, 5, 1, 23, 40, 29), da...
3    [datetime.datetime(2023, 5, 1, 23, 40, 29), da...
4    [datetime.datetime(2023, 5, 1, 23, 40, 29), da...
..                                                 ...
995                                2023-05-11 22:11:04
996                                2023-05-11 22:11:04
997                                2023-05-04 07:23:41
998  [datetime.datetime(2023, 4, 28, 13, 57, 36), d...
999                                2023-05-06 03:23:12

[1000 rows x 1 columns]

In [27]:
df['added_timestamp'][0]

'10-05-2023 21:07:37'

In [26]:
df['last_analysis_date'][0]

'2023-04-13 16:04:14'

In [25]:
df['whois_info.creation_date'][0]

'10-05-2023 21:07:37'