In [1]:
import pandas as pd

In [34]:
df = pd.read_csv(r"C:\Users\Jun Rong\Documents\GitHub\IMDA-Domain-IP-Enrichment\Flask_App\testing6.csv")

In [35]:
df.head()
df.columns

Index(['Unnamed: 0', '_id', 'domain', 'x_days_ago', 'to_skip',
       'last_analysis_date', 'reputation', 'added_timestamp',
       'processed_timestamp', 'failure_count', 'is_priority', 'source',
       'has_screenshot', 'has_html', 'has_javascript', 'files_log',
       'archived_page_info', 'log_file', 'last_analysis_stats.harmless',
       'last_analysis_stats.malicious', 'last_analysis_stats.suspicious',
       'last_analysis_stats.undetected', 'last_analysis_stats.timeout',
       'total_votes.harmless', 'total_votes.malicious',
       'duration_log.screenshot', 'duration_log.grab_html_js',
       'duration_log.get_whois_info', 'duration_log.get_dns_info',
       'duration_log.get_cert_info', 'duration_log.get_archived_page_info',
       'whois_info.registrar', 'whois_info.name', 'whois_info.org',
       'whois_info.creation_date', 'whois_info.updated_date',
       'whois_info.whois_file_location', 'dns_info.gethostbyname_ex.alias',
       'dns_info.gethostbyname_ex.other_ip_address',
       'dns_info.gethostbyname_ex.gethostbyname_ex_filepath',
       'dns_info.dns_resolver_query.nameserver_list',
       'dns_info.dns_resolver_query.nameservers_filepath',
       'cert_info.common_name', 'cert_info.name_value',
       'cert_info.issuer_name', 'cert_info.not_before',
       'cert_info.latest_cert', 'cert_info.length_cert_json',
       'cert_info.cert_file_location', 'cert_info.len(SubjectCN_set)',
       'cert_info.SubjectCN_set', 'cert_info.len(Issuer_set)',
       'cert_info.Issuer_set', 'cert_info.len(AltName_set)',
       'cert_info.AltName_count_min', 'cert_info.AltName_count_max',
       'dns_info.gethostbyname_ex', 'dns_info.dns_resolver_query', 'cert_info',
       'archived_page_info.newest.archive_url',
       'archived_page_info.newest.timestamp',
       'archived_page_info.archived_paged_file_location', 'whois_info'],
      dtype='object')

In [36]:
df[['whois_info.updated_date']]

                            whois_info.updated_date
0    ['01-05-2023T23:38:51', '18-04-2023T06:32:59']
1    ['01-05-2023T23:38:51', '18-04-2023T06:32:42']
2    ['01-05-2023T23:40:29', '21-04-2023T02:26:35']
3    ['01-05-2023T23:40:29', '21-04-2023T02:26:17']
4    ['01-05-2023T23:40:29', '24-04-2023T13:48:47']
..                                              ...
995                             11-05-2023T22:11:04
996                             11-05-2023T22:11:04
997                             04-05-2023T07:23:41
998  ['28-04-2023T13:57:36', '28-04-2023T13:57:14']
999                             06-05-2023T03:23:12

[1000 rows x 1 columns]

In [38]:
df['added_timestamp'][0]

'10-05-2023T21:07:37'

In [39]:
df['last_analysis_date'][0]

'13-04-2023T16:04:14'

In [40]:
type(df['whois_info.creation_date'][0])

str